.interactive-nav-bar {
    height: 30px;
    width: 100%;
    background-color: grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box; 
}

.left-side {
    display: flex;
    align-items: center;
    gap: 15px; /* Space between items */
}

.dropdown-menu {
    position: absolute;
    top: 4%; /* Below the nav bar */
    left: 10%; /* Align with the left side padding */
    background-color: grey;
    border: 1px solid ;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    gap: 10px;;
}

.filler {
    /* margin-left: 20px;
    margin-right: 20px; */
    color: white;
    /* font-family: "Courier New", Courier, monospace; Monospace font for authenticity */
    /* font-size: 14px; */
}

.clock {
    margin-left: auto;
    color: white;
    /* font-family: "Courier New", Courier, monospace; Monospace font for authenticity */
    /* font-size: 14px; */
}