/* MOBILE APP FILE SECTION */
.app-icon-layout {
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

/* MOBILE APP ICON SECTION */
.app-icon-container {
    text-align: center;
}
.app-icon {
    padding: 10px;
    height: 40px;
}

/* APP NAV BAR */
#in-app-nav-bar {
    display: flex;
    color: white;
    background-color: rgba(50, 50, 50, 0.3);
    filter: blur(5%);
    height: 60px;
    width: 100%;
}

#back-button {
    width: 20%;
    height: 90%;
    display: flex;
    text-align: center;
    align-items: center;
    /* text-decoration: underline; */
    border-radius: 10px;
    font-size: larger;
    margin-top: auto;
    margin-bottom: auto;
}

#back-button-text {
    margin-left: 5px;
}

.app-title-image {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 6%;
    margin-top: auto;
    margin-bottom: auto;
}

.app-title-text {
    display: flex;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

/* IN APP STYLE */
.app-body {
    width: 100%;
}
/* REVIEWS APP */
.reviewer-headline {
    display: flex;
}

.reviewer-name {
    position: relative;
    left: 5%;
}

.reviewer-rating {
    position: absolute;
    right: 5%;
}

.review-divider {
    padding-top: 10px;
    border-bottom: 1px dashed #fff;
}

/* PERSONAL PROJECTS APP */
.image-container {
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;
}
.zombie-image-content {
    width: 90%;
    margin: 4px;
}
.image-content {
    width: 70%;
    margin: 4px;
}
