#mobile-nav-bar {
    height: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
}

#the-notch {
    background-color: black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    height: 100%;
    border-radius: 0 0 28px 28px;
}

#clock {
    margin-left: auto;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    /* font-family: "Courier New", Courier, monospace; Monospace font for authenticity */
    /* font-size: 14px; */
}

/* .mobile-social-button {
    
} */

#mobile-social-logos {
    height: 50px;
}

#mobile-app-dock {
    width: 90vw;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: rgba(200, 200, 200, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    padding: 15px;
    justify-content: center;
}

.text-file-mobile {
    width: 48px;
    background-color: #d3d3d3;
    border: 3px solid #333;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.text-file-mobile::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-top: 15px solid #333;
    border-left: 15px solid transparent;
}

.line1 {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 32px;
    height: 2px;
    background-color: #000;
}

.line2 {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 37px;
    height: 2px;
    background-color: #000;
}

.line3 {
    position: absolute;
    top: 30px;
    left: 5px;
    width: 37px;
    height: 2px;
    background-color: #000;
}

.line4 {
    position: absolute;
    top: 40px;
    left: 5px;
    width: 37px;
    height: 2px;
    background-color: #000;
}