/* .nav-bar-container {
    background: var(--raisin-black);
    display: flex;
    top: 0;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 1px 10px var(--emerald);
    margin: 10px;
} */

/* button {
    border-radius: 50px;
    box-shadow: 0px 1px 10px var(--royal-purple);
    background-color: var(--carolina-blue);
} */

/* .internal-links-container {
    display: flex;
    gap: 10px;
    margin-right: auto;
} */

.social-media-button {
    cursor: pointer;
}

.social-media-container {
    display: flex;
    gap: 10px;
}

.social-logos {
    height: 48px;
    width: 48px;
}
