.navBarContainer {
    background: "#00FF00";
    display: flex;
    position: fixed;
    top: 0;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
}