/* ::-webkit-scrollbar {
    width: 7px;
    scrollbar-highlight-color: aqua;
} */
/* Track */
/* ::-webkit-scrollbar-track {
    background: blur(5px);
    
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(200, 200, 200, 0.1);
    backdrop-filter: blur(5px);
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: rgba(200, 200, 200, 0.7);
    backdrop-filter: blur(5px);
} */

.grabbable-area {
    position: fixed;
    z-index: 1000;
}

.child-window-main-content {
    overflow-y: scroll;
    margin-top: 40px;
}
.child-window-contents {
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: relative;
    height: 500px;
    width: 500px;
    position: absolute;
}

/* work history specific items */
.company-name {
    text-align: center;
    font-weight: bold;
    margin: 5px;
}

.company-logo {
    width: auto;
    height: auto;
}

#company-header {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.position-title {
    text-align: center;
    font-weight: bold;
    margin: 0px 0px 15px 0px;
}

/* personal projects specific items */
#zombie-image-content {
    height: 250px;
}

#image-content {
    height: 350px;
    padding: 5px;
}

/* linkedin recommedation specific items */
#linkedin-recommendations-content {
    padding: 0px;
}
