.company-name {
    text-align: center;
    /* color: var(--royal-purple); */
    /* color: var(--emerald); */
    /* color: var(--carolina-blue); */
}

.company-name-even {
    text-align: center;
    background-color: rgba(160, 160, 160, 0.1);
    box-shadow: 0px 1px 10px var(--royal-purple);
    border-radius: 10px;
    /* color: var(--royal-purple); */
    /* color: var(--emerald); */
    /* color: var(--carolina-blue); */
}

.company-name-odd {
    text-align: center;
    background-color: rgba(122, 122, 122, 0.05);
    box-shadow: 0px 1px 10px var(--emerald);
    border-radius: 10px;
    /* color: var(--royal-purple); */
    /* color: var(--emerald); */
    /* color: var(--carolina-blue); */
}

.position {
    text-align: center;
    text-decoration: underline;
    /* text-decoration-color: var(--emerald); */
    /* color: var(--royal-purple); */
    /* color: var(--emerald); */
    color: var(--carolina-blue);
}

.job-details {
    color: #fff;
    display: flex;
}

#job-location {
    color: #fff;
    margin-left: 10px;
}

#job-date {
    color: #fff;
    margin-left: auto;
    margin-right: 10px;
}

.job-list-container {
    padding-bottom: 10px;
    color: #fff;
}

.job-bullet-points {
    margin: 10px 0px;
}

.job-card-even {
    /* background-color: rgba(160, 160, 160, 0.1);
    box-shadow: 0px 1px 10px var(--royal-purple);
    border-radius: 10px; */
    width: 50%;
    margin: auto;
    color: var(--emerald);
}

.job-card-odd {
    /* background-color: rgba(122, 122, 122, 0.05);
    box-shadow: 0px 1px 10px var(--emerald);
    border-radius: 10px; */
    width: 50%;
    margin: auto;
    color: var(--royal-purple);
}

.child-window-contents {
    display: flex;
    flex-direction: column;
}
